[submodule "third_party/connectedhomeip"]
	path = third_party/connectedhomeip
	url = https://github.com/project-chip/connectedhomeip.git
[submodule "third_party/ot-nrf528xx"]
	path = third_party/ot-nrf528xx
	url = https://github.com/openthread/ot-nrf528xx.git
[submodule "third_party/ot-br-posix"]
	path = third_party/ot-br-posix
	url = https://github.com/openthread/ot-br-posix
[submodule "third_party/nrfconnect-chip-docker"]
	path = third_party/nrfconnect-chip-docker
	url = https://github.com/NordicPlayground/nrfconnect-chip-docker.git
